<!-- home.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Listado de Empleados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <br>
    <h1>Sistema de Departamentos</h1>
    <br>
    <div class="input-group mb-3">
    <form method="post">
        {% csrf_token %}
        <input type="text" name="{{ form.national_id.name }}" placeholder="Número Nacional">
        <input type="text" name="{{ form.start_date.name }}" placeholder="Fecha de Inicio" >
        <input type="text" name="{{ form.end_date.name }}" placeholder="Fecha de Término" >
        <input type="submit" class="btn btn-primary value" value="Filtrar">
    </form>
</div>
    <table class="table">
        <tr>
            <th>Business Entity ID</th>
            <th>National ID Number</th>
            <th>Job Title</th>
            <th>Hire Date</th>
            <th>Vacation Hours</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.businessentityid }}</td>
            <td>{{ employee.nationalidnumber }}</td>
            <td>{{ employee.jobtitle }}</td>
            <td>{{ employee.hiredate }}</td>
            <td>{{ employee.vacationhours }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
