
    {% extends 'base.html' %}
    {% block content %}
    <h1>Sistema de Departamentos</h1> 
    <ul>
        <li>
            <h5 style="color:#20c997"> Bienvenido {{ user.username }} </h5> 
        </li>
        <li>
            <a id="logout" href="{% url 'signin' %}">Logout</a> 
        </li>
    </ul>
    
    <h6 style="color:brown;">{{ error }}</h6> 
    <h6 style="color:brown;">{{ error_ }}</h6> 

    {% comment %} Formulario de Filtro {% endcomment %}
    <form method="post" action="{% url 'filtro' %}" class="row" > 
        {% csrf_token %}

        <div class="col">
            {{ form.national_id_number }}
        </div>
        <div class="col">
            {{ form.fecha_inicio }}
        </div>
        <div class="col">
            {{ form.fecha_termino }}
        </div>
        <div class="col"> 
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>        
    </form>
    <table class="table">
        <tr>
            <th>Business Entity ID</th>
            <th>National ID Number</th>
            <th>Job Title</th>
            <th>Hire Date</th>
            <th>Vacation Hours</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.businessentityid }}</td>
            <td>{{ employee.nationalidnumber }}</td>
            <td>{{ employee.jobtitle }}</td>
            <td>{{ employee.hiredate }}</td>
            <td>{{ employee.vacationhours }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}

