body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
  }
  
  h1 {
    background-color: #96c4c0;
    color: #fff; /* Cambio el color del texto para que contraste mejor con el fondo */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 12px; /* Aumento el padding para un mejor espaciado */
    text-align: center; /* Alineo el texto en el centro de las celdas */
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 29%; /* Aumento el ancho para ocupar todo el espacio disponible */
    padding: 10px; /* Aumento el padding para un mejor aspecto */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Agrego bordes redondeados para una apariencia más suave */
  }
  
  button[type="submit"] {
    background-color: #152b5c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Cambio el porcentaje a un valor absoluto para bordes redondeados */
  }
  
  button[type="submit"]:hover {
    background-color: #1a3a75; /* Cambio el color de fondo al pasar el ratón */
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  